@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: Pretendard Variable, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

body.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
